.recent-news {
    margin-top: -3.77px;
    padding: 20px;

    width: 100%;
    height: auto;

    font-size: 1rem;

    background-color: #e6f4ff;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.recent-news__title {
    font-family: 'Bitter', serif;
    font-size: 1em;
    font-weight: 700;
    line-height: 19px;
}

.recent-news__flex-wrapper {
    display: flex;
    gap: 24px;
}

.recent-news__topic {
    font-size: 1em;
    font-weight: 500;

    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;

    opacity: 50%;
    transition: opacity 0.3s;
}

.recent-news__topic--current {
    opacity: 1;

    overflow: visible;

    position: relative;
}

.recent-news__topic--current::after {
    content: '';

    position: absolute;

    width: 32%;
    height: 3px;

    background-color: #EB153C;
    
    left: 46%;
    transform: translateX(-50%);
    bottom: -1px;   
}

.recent-news__list {
    list-style: none;

    display: flex;
    align-items: center;
    gap: 5px;

    overflow-x: scroll;
    scrollbar-width: none;

}